[submodule "client"]
    path = client
    url = git@github.com:mixbytes/substrate-oracle-client.git
[submodule "pallets/oracle"]
    path = pallets/oracle
    url = git@github.com:mixbytes/substrate-oracle.git
